<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>User Index Page</title>
  </head>
  <body>
    <h1>User Index Page</h1>
    
    <form action="/user/login" method="post">
      <input type="text" name="tag" placeholder="군번" /><br />
      <input type="password" name="password" placeholder="비번" /><br />
      <input type="submit" value="토큰 발급받기"/>
    </form>
    <h2><%= message %></h2>
    <br />
    <form action="/user/register" method="get">
      <button type="submit">회원가입</button>
    </form>
    <br />
    <h2>발급된 토큰: <br><%= token %></h2>
    <br />

    <form action="/user/setHeader" method="post">
      <input type="text" name="token" placeholder="발급받은 토큰" /><br />
      <input type="submit" value="토큰 해독하기"/>
    </form>
    <h2>군번: <%= userInfo?.tag %></h2>
    <h2>이름: <%= userInfo?.name %></h2>

  </body>
</html>