<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Index Page</title>
  </head>
  <body>
    <form action="/socketChat" method="get">
        <button type="submit">채팅(socket.io)</button>
    </form>
    <form action="/manager" method="get">
        <button type="submit">관리자 로그인(session)</button>
    </form>
    <form action="/user" method="get">
        <button type="submit">사용자 로그인(jwt)</button>
    </form>
    <form action="/socketUser" method="get">
      <button type="submit">소켓통신(사용자)</button>
    </form>
    <form action="/socketManager" method="get">
      <button type="submit">소켓통신(관리자)</button>
    </form>
  </body>
</html>